body {
  height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  background-color: #353535;
}

.leaflet-container-stations-pane {
  z-index: 5;
}
